.archeage {
  position: relative;
  width: 930px;
  height: 530px;
}
.click {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
