.archeage {
  position: relative;
  display: flex;
  height: 530px;
}
.pic {
  position: relative;
  width: 930px;
  height: 530px;
}
.click {
  display: flex;
  width: 20px;
  height: 20px;
  /* border: 1px solid red; */
  background-color: blue;
  color: white;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}
.red {
  background-color: red;
}

.one {
  position: absolute;
  right: 380px;
  bottom: 120px;
}
.two {
  position: absolute;
  right: 380px;
  bottom: 145px;
}
.three {
  position: absolute;
  right: 320px;
  bottom: 135px;
}
.four {
  position: absolute;
  right: 295px;
  bottom: 135px;
}
.five {
  position: absolute;
  right: 320px;
  bottom: 175px;
}
.six {
  position: absolute;
  right: 295px;
  bottom: 175px;
}
.seven {
  position: absolute;
  right: 320px;
  top: 250px;
}
.eight {
  position: absolute;
  right: 295px;
  top: 230px;
}
.nine {
  position: absolute;
  right: 320px;
  top: 225px;
}
.ten {
  position: absolute;
  right: 300px;
  top: 205px;
}
.eleven {
  position: absolute;
  right: 290px;
  top: 155px;
}
.twelve {
  position: absolute;
  right: 295px;
  top: 135px;
}
.thirteen {
  position: absolute;
  right: 320px;
  top: 155px;
}
.fourteen {
  position: absolute;
  right: 320px;
  top: 135px;
}
.fifteen {
  position: absolute;
  right: 300px;
  top: 105px;
}
.sixteen {
  position: absolute;
  right: 300px;
  top: 80px;
}
.seventeen {
  position: absolute;
  right: 330px;
  top: 80px;
}
.eighteen {
  position: absolute;
  right: 330px;
  top: 105px;
}
.nineteen {
  position: absolute;
  right: 370px;
  top: 155px;
}
.twenty {
  position: absolute;
  right: 390px;
  top: 155px;
}
.twenty-one {
  position: absolute;
  right: 370px;
  top: 125px;
}
.twenty-two {
  position: absolute;
  right: 390px;
  top: 125px;
}
.twenty-three {
  position: absolute;
  left: 350px;
  bottom: 160px;
}
.twenty-four {
  position: absolute;
  left: 325px;
  bottom: 160px;
}

.twenty-five {
  position: absolute;
  left: 325px;
  bottom: 135px;
}
.twenty-six {
  position: absolute;
  left: 350px;
  bottom: 135px;
}
.stat {
  display: flex;
  width: 1200px;
}
.cut {
  border: 1px solid black;
  width: 500px;
  margin-right: 50px;
}
.gen {
  border: 1px solid black;
}
